<footer class="footer">
    <div class="social--footer">
	    <a class="social__icon social__icon--gplus" href="#">Google+</a>
	    <a class="social__icon social__icon--fb" href="#">Facebook</a>
	    <a class="social__icon social__icon--twitter" href="#">Twitter</a>
	    <a class="social__icon social__icon--pinterest" href="#">Pinterest</a>
	    <a class="social__icon social__icon--youtube" href="#">YouTube</a>
	    <a class="social__icon social__icon--rss" href="{{@blog.url}}/rss/">RSS</a>
	</div>

    <div class="footer__copyrights">
         <p class="footer__text footer__copyright-text">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved. Designed by <a href="http://www.gavick.com" rel="nofollow">GavickPro</a></p>
         <p class="footer__text footer__powered-by">Proudly published with <a class="footer__ghost-icon" href="http://ghost.org">Ghost</a></p>
    </div>
</footer>
