{{! Put your menu content here or make this file empty in order to remove the menu }}
<nav class="menu">
	<div class="menu__wrap">
		<a href="/" class="menu__item menu__item--active">Index</a>
		<a href="/about" class="menu__item">About</a>
		<a href="/typography" class="menu__item">Typography</a>
		<a href="https://twitter.com/gavickpro" class="menu__item">Twitter</a>
		<a href="https://facebook.com/gavickpro" class="menu__item">Facebook</a>
		<a href="https://plus.google.com/+gavickpro" class="menu__item">Google+</a>
	</div>
</nav>